@page
@model IndexModel
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.DataProtection;
@using WebApplication3.Model;
@using System.Text
@inject SignInManager<ApplicationUser> SignInManager; 

@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("/Login");
    }
    ViewData["Title"] = "Home page";
    var usernow = await SignInManager.UserManager.GetUserAsync(User);
    var Decrypt = DataProtectionProvider.Create("EncryptData");
    var protector = Decrypt.CreateProtector("MySecretKey");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        
    @if (usernow != null)
    {
        <p>Full Name: @Html.Raw(usernow.FullName)</p>
        <p>Credit Card: @protector.Unprotect(usernow.CreditCardNo)</p>
        <p>Gender: @Html.Raw(usernow.Gender)</p>
        <p>Mobile Number: @Html.Raw(usernow.MobileNo)</p>
        <p>Delivery Address: @Html.Raw(usernow.DeliveryAddress)</p>
        <p>Email: @usernow.Email</p>
        <p>About Me: @Html.Raw(usernow.AboutMe)</p>
        <br />
        @if (!string.IsNullOrEmpty(@usernow.PhotoFile))
        {
            <img src="~/images/@usernow.PhotoFile" alt="User Photo" />
        }
    }
    else
    {
        <p>User not authenticated or user data not available.</p>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
